/*Background animé*/
.animated-background{
    width: 100%;
    height: 800px;
}

.animatedimage{
    background-repeat: repeat;
    background-image: url("Bibliotheque/Photo_montre/Photo_montre1.jpg");
    animation-name: fond;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}



/*Article sur l'entreprise*/
.history{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows:500px;
    padding: 50px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}


.image1{
    background-image: url("Bibliotheque/Photo_montre/histoire1.jpg");
    border-radius: 10%;
    background-size: contain;
}

.image2{
    background-image: url("Bibliotheque/Photo_montre/histoire2.jpg");
    border-radius: 10%;
    background-size: contain;
}

.histoire1{
    font-size: 1.5em;
    font-family: 'Lora', serif;
}

.titlehistory{
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 2%;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
}



/*Footer*/
.footer{
    background-color: #212121;
    width: 100%;
    height: 100px;
    margin-top: 50px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.fa-brands{
    font-size: 40px;
    padding-right: 10px;
}

.brandtext{
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    color: white;
}

.foot{
    text-align: center;
}

.foot1{
    text-align: center;
    color: white;
    font-family: "Lato";
    display: grid;
    align-items: flex-end;
    font-size: 1.2em;
}

.foot2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.foot3{
    display: grid;
    align-items: flex-end;
    color: white;
    font-size: 0.9em;
}

.smedia{
}

.fa-twitter{
    color: #00acee;
}

.fa-instagram{
    color: #FFFFFF;
}

.fa-facebook-f{
    color: #3b5998;
}

.fa-youtube{
 color: #FF0000;
}

/*Animation + media queries*/
@keyframes fond{
    0%{
        background-image: url("Bibliotheque/Photo_montre/Photo_montre1.jpg");
    }
    33.33%{
        background-image: url("Bibliotheque/Photo_montre/Photo_montre2.jpg");
    }
    66.67%{
        background-image: url("Bibliotheque/Photo_montre/Photo_montre3.jpg");
    }
    100%{
        background-image: url("Bibliotheque/Photo_montre/Photo_montre1.jpg");
    }
}