nav{
    width: 95%;
    color: #17202A;
}

nav ul{
    display: flex;
    align-items: center;
    height: 100%;
}

nav ul a {
    display: inline;
    font-size: 1em;
    text-align: center;
    flex: 10;
}

nav ul a li{
    align-items: center;
}

.logo{
    width: 50px;
    height: 50px;
}

.navbar{
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: solid 2px rgba(234, 236, 238, 1);
}

.lien{
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: solid transparent 1px;
}

.lien:hover{
    color: #B97A57;
    border-bottom: solid #B97A57 1px;
}

.gauche{
    flex: 1;
}

.centrage{
    flex: 1;
}


