body{
    width: 100vw;
    height: 100vh;
}

.background{
    display: grid;
    background: url("../../Bibliotheque/Fond_shopping/backgroundshopping.jpg");
    background-size: cover;
    grid-template-rows: 1fr 15fr;
    width: 100vw;
}

.squelette{
    width: 85vw;
    background-color: #F4F4F4;
    justify-self: center;
    display: grid;
    grid-template-columns: 4fr 1.5fr;
}


/*Conteneur*/
.conteneur{
    display: grid;
}

.conteneur1{
    grid-template-rows: 1.2fr 1fr;
}

.conteneur2{
    grid-template-rows: 1fr 3fr;
}


/*Content*/
.content{
    border: 0.7vh solid #212121;
}

.content1{
    display: grid;
    grid-template-rows: 1fr 4fr;
    border-bottom: 0px;
    border-right: 0px;
}

.content2{
    display: grid;
    grid-template-rows: 1fr 4fr;
    border-right: 0px;
}

.content3{
    background-color: #C7998D;
    background-image: url("../../Bibliotheque/Fond_shopping/Logoshopping.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.content4{
    display: grid;
    grid-template-rows: 1fr 6fr;
    border-top: 0px;
}


/*Content 1*/
.titlec1{
    font-family: 'Oswald', sans-serif;
    font-size: 4vh;
    text-align: center;
}

.articlec1{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.shopping{
    display: grid;
    grid-template-columns: 1.3fr 2fr 12fr;
}

.number{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    font-family: "Raleway", sans-serif;
    color: #212121;
}

.photoart{
    border: 0.3vh solid  #212121;
    border-radius: 0.5vh;
    height: 10vh;
    display: flex;
    align-self: center;
}

.description{
    display: flex;
    align-items: center;
    padding-left: 1vh;
}

.desctext{
    font-size: 2vh;
    font-family: "Raleway", sans-serif;;
    color: #212121;
}


/*Content 2*/
.articlec2{
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.titlec2{
    font-family: 'Oswald', sans-serif;
    font-size: 4vh;
    text-align: center;
}

.col{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.photocol{
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.photo{
    border: 0.3vh solid black;
    border-radius: 0.5vh;
    height: 20vh;
    width: 14vw;
}

.textc2{
    font-family: "Raleway", sans-serif;
    padding-top: 1vh;
    font-size: 2vh;
}

/*Content 3*/

/*Content 4*/
.promo{
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promotitle{
    font-family: 'Oswald', sans-serif;
    font-size: 3.5vh;
}

.formpromocode{
    display: flex;
    padding-bottom: 2vh;
}

.promocode{
    border: 0.3vh solid #212121;
    border-radius: 0.5vh;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0.3vh solid transparent;
    flex: 1;
    height: 3.5vh;
    width: 30vh;
}

.promo-button{
    background-color: #212121;
    font-size: 2vh;
    color: white;
    font-family: 'Oswald', sans-serif;
    border: 0.3vh solid #212121;
    border-radius: 0.5vh;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 2vh;
}

.promo-button:active{
    background-color: #000;
}

.priceform{
    display: flex;
    flex-direction: column;
    padding-left: 2vh;
    font-family: "Raleway", sans-serif;
}

.titleprice{
    font-size: 4vh;
    padding-bottom: 2vh;
}

.price{
    font-size: 2vh;
    padding-bottom: 1vh;
}

.pricetitle{
    font-size: 2.8vh;
    padding-bottom: 1vh;
}

.tax{
    padding-bottom: 1vh;
    font-size: 2vh;
    color: #5A5A5A;
}

.totalprice{
    font-size: 2.8vh;
    padding-bottom: 1vh;
}

.finalprice{
    font-size: 4vh;
    padding-bottom: 1vh;
}

.final-button{
    width: 40vh;
    height: 4vh;
    background-color: #212121;
    color: white;
    border: 0.3vh solid #212121;
    border-radius: 0.5vh;
    font-family: 'Oswald', sans-serif;
    font-size: 2vh;
}

.final-button:active{
    background-color: #000;
}