/* icons + logo */
.fa-solid, .fa-thin{
    font-size: 2.9vh;
    padding-left: 2vh;
    transition-property: color;
    transition-duration: 300ms;
    color: #FFF;
}

.fa-solid:active, .fa-thin:active{
    color: #C1C1C1;
}

.fa-basket-shopping{
    padding-right: 2vh;
}

.logohub{
    height: 3vh;
    padding-left: 2vh;
}

.fa-magnifying-glass{
    padding-left: 0;
}

/* navbar */

nav{
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0);
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

.nav{
    flex: 1;
    padding: 1vh;
}

.nav1{
    display: flex;
}

.nav3{
    display: flex;
    justify-content: right;
}

/*input + button*/
#article-search{
    height: 3vh;
    padding: 2vh;
    border: 0.1vh solid transparent;
    border-radius: 1vh;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    flex: 13;
    font-size: 1.5vh;
}

#article-button{
    height: 4.2vh;
    border: 0.1vh solid transparent;
    border-radius: 1vh;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    flex: 1;
}

#article-button:active{
    background-color: #C1C1C1;
}

.buttonseach{
    display: flex;
    border: 0.1vh solid rgba(0,0,0,0.3);
    border-radius: 1vh;
    background-color: #C1C1C1;
}